
  .profile {
	display: flex;
    justify-content: center;
    padding-top: 50px;
    /* top: 20px; */
    border-radius: 50%;
  }
  .profile .profile-pic {
    width: 220px;
    height: 220px;
    float: left;
    border-radius: 50%;
	border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.flexRaw{
	width: 45px;
	display: flex;
	align-items: center;
	color: black;
	background: grey;
	/* border: 1px solid black; */
}

.flexRaw:hover{
	width: 120px;
	display: flex;
	align-items: center;
	color: white;
	background-color: #000 !important;
	/* opacity: 0,6; */
	border: 1px solid grey;
	transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.flexRaw.fix{
	width: 120px;
	display: flex;
	align-items: center;
	color: white;
	background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
	/* border: 1px solid black; */
	transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

 
  #soup-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 24px;
	z-index: 9002;
	font-size: 64px;
  }
  
  .soup-title {
	font-size: 32px;
  }
  
  #soup-prev{
	  cursor: pointer;
  }

  #soup-next{
	cursor: pointer;
  }

  .soup-desc {
	font-size: 16px;
  }
  
  html, body {
	width: 100%;
	height: 100%;
	background-color: black;
	color: #111;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
  }
  
  #soup-container {
	width: 100%;
	height: 100%;
	min-width: 320px;
	min-height: 480px;
	position: relative;
	background: linear-gradient(to right, #06485e 0%, #743454 100%);
  }
  
  .letters-wrap {
	position: absolute;
	overflow: hidden;
	display: inline-block;
  }
  .letters-wrap.mutable {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  }
  .letters-wrap.mutable .letter {
	position: absolute;
	left: 0;
	top: 0;
	transition: left 2s, top 2s, color 2s;
	color: "#AAA";
  }
  .letters-wrap.mutable .letter.active {
	color: "#111";
	z-index: 9001;
  }
  .letters-wrap.position-data {
	top: 50%;
	left: 50%;
	/*opacity: 0.1;*/
	visibility: hidden;
	transform: translate(-50%, -50%);
  }
  
  .segment {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  /* .letter {
	display: inline-block;
  } */
  
  button {
	z-index: 9001;
	position: relative;
  }
  
  .icon-bar {
	position: fixed;
	top: 50%;
	z-index: 2;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  .icon-bar a {
	display: block;
	text-align: center;
	padding: 10px 14px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }
  
  .icon-bar a:hover {
	background-color: #000;
  }
  
  .icon-bar-right {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
	top: 50px;
	z-index: 1;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  .icon-bar-right a {
	display: block;
	text-align: center;
	padding: 10px 14px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }

  .icon-bar-right a:hover {
	display: block;
	text-align: center;
	padding: 10px 14px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }
  
  .icon-bar-right a:hover {
	opacity: 0.6;
	text-decoration: none;
	background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  }

  .facebook {
	background: #3B5998;
	color: white;
  }

  
  .twitter {
	background: #55ACEE;
	color: white;
  }
  
  .google {
	background: #dd4b39;
	color: white;
  }
  
  .linkedin {
	background: #007bb5;
	color: white;
  }
  
  .resume {
	background: #bb0000;
	color: white;
  }
  /* .projects {
	color: white;
  } */

  .projectDiv{
	top: 50%;
    left: 50%;
	opacity: 0.9;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: system-ui;
	cursor: pointer;
    padding: 10px;
    height: 200px;
    width: 129px;
    border-radius: 500px 0 0 500px;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  }
  
  .content {
	margin-left: 75px;
	font-size: 30px;
  }

  .headNav{
	font-size: 16px;
    margin: 0px 10px;
	cursor: pointer;
  }

  .activeNav{
	color: yellow;
	border-bottom: 1px solid;
  }

  .projectIcon{
	font-size: 32px;
	position: absolute;
	/* left: 0px; */
  }





  /* // sidebar code css sample */

  .sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }

  .projectCards{
	background: white;
    margin: 10px 150px;
    color: black;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
  }
  .contentBox{
		margin-top: 32px;
	}
  /* ----------------------------------------------------------------------- */




  /* // project css code */

  #projectsSection{
	background: linear-gradient(to right, #06485e 0%, #743454 100%);
	color: white;
  }

  @media only screen and (max-width: 1100px) {

	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}

	html, body {
		width: 100%;
		height: 100%;
		background-color: grey;
		color: white;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	  }
	  /* #soup-container {
		width: 100%;
		height: 100%;
		min-width: 320px;
		min-height: 480px;
		position: relative;
		background-color: black;
	  } */

	

	  #soup-container {
		width: 100%;
		height: 100%;
		min-width: 320px;
		min-height: 480px;
		position: relative;
		background: black;
	  }

	  .profile {
		display: flex;
		justify-content: center;
		padding-top: 120px;
		/* top: 20px; */
		border-radius: 50%;
	  }

	  .profile .profile-pic {
		width: 170px;
		height: 170px;
		float: left;
		border-radius: 50%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}

	  .flexRaw{
		  display: flex;
	  }

	  .letters-wrap.position-data {
		top: 55%;
		left: 50%;
		width: 90%;
		/*opacity: 0.1;*/
		visibility: hidden;
		transform: translate(-50%, -50%);
	  }

	  #mobileMenu{
		z-index: 10000;
	  }

	.con{
		cursor: pointer;
		background: transparent;
		z-index: 1;
		padding: 20px;
		border-radius: 0 0 70% 70%;
		}
		
		.bar {
		display: block;
		height: 5px;
		width: 40px;
		background: white;
		margin: 6px auto;
		}
		
		.con {
		width: auto;
		margin: 0 auto;
		-webkit-transition: all .7s ease;
		-moz-transition: all .7s ease;
		-ms-transition: all .7s ease;
		-o-transition: all .7s ease;
		transition: all .7s ease;
		}

		.projectCards{
			background: white;
			margin: 10px 10px;
			color: black;
			border-radius: 5px;
			border: 1px solid;
			padding: 10px;
		}

		.con:hover .bar {
		background-color: #fff;
		}
		
		.col {
		text-align: center;
		position: absolute;
		
		}
		
		.middle {
		margin: 0 auto;
		}
		
		.bar {
		-webkit-transition: all .7s ease;
		-moz-transition: all .7s ease;
		-ms-transition: all .7s ease;
		-o-transition: all .7s ease;
		transition: all .7s ease;
		}
		
		.top {
		-webkit-transform: translateY(11px) rotateZ(45deg);
		-moz-transform: translateY(11px) rotateZ(45deg);
		-ms-transform: translateY(11px) rotateZ(45deg);
		-o-transform: translateY(11px) rotateZ(45deg);
		transform: translateY(11px) rotateZ(45deg);
		}
		
		.bottom {
		-webkit-transform: translateY(-11px) rotateZ(-45deg);
		-moz-transform: translateY(-11px) rotateZ(-45deg);
		-ms-transform: translateY(-11px) rotateZ(-45deg);
		-o-transform: translateY(-11px) rotateZ(-45deg);
		transform: translateY(-10px) rotateZ(-45deg);
		}
		
		.middle {
		width: 0;
		}
		
		.icn{
			padding: 15px;
			background: linear-gradient(90deg, #fff, #fff,#123,#123);
			background-size: 300%;
			background-position: right;
			border-radius: 50%;
			margin: 5px auto;
			text-align: center;
			color: #fff;
			display: inline-grid;
			justify-content: center;
			cursor: pointer;
			transition: .5s;
		}

		.icns{
			display: flex;
			flex-direction: column;
		}

		.midicon{
			font-size: 30px;

		}
		.icn:nth-child(1):hover{
			background-position: left;
			color: #123;
		}
		.icn:nth-child(2):hover{
			background-position: left;
			color: #123;
		}
		.icn:nth-child(3):hover{
			background-position: left;
			color: #123;
		}
		.icn:nth-child(4):hover{
			background-position: left;
			color: #123;
		}
		.icn:nth-child(5):hover{
			background-position: left;
			color: #123;
		}

		.projectIcon{
			font-size: 32px;
			position: absolute;
			/* right: 0px !important; */
		  }
		
	  
  }

